.admin-page {
    gap: 25px;
}

.admin-user-conntiner {
    display: flex;
    justify-content: space-between;
}

.admin-users-container {
    border: solid white 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.admin-team-conntiner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}