.cards-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: calc(30px);
}
.voting-page{
gap: 25px;
}